@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

:root {
  --font-family-heading: "Playfair Display", serif;
  --font-family-body: "Montserrat", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  width: 100vw;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  height: auto;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  font-family: var(--font-family-body);
  z-index: -3;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.display-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  padding: 40px 10px;
  justify-content: flex-start;
}

.container h1 {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 30px;
}

.container form {
  width: 100%;
  max-width: 600px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-input {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form-input input,
.form-input textarea {
  width: 100%;
  height: auto;
  padding: 10px;
  font-size: 16px;
  outline: none;
  border: 1px solid #000;
}

.form-input textarea {
  height: 200px;
}

.form-input button {
  background-color: transparent;
  border: 1px solid #000;
  outline: none;
  padding: 10px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

.posts {
  width: 95%;
  max-width: 600px;
}

.post {
  width: 100%;
  height: auto;
  aspect-ratio: 2.7;
  margin: 20px 0;
  border: 1px solid #000;
  padding: 5px;
}
.post .desc {
  width: 50%;
  height: auto;
  padding: 10px;
  color: #000;
}
.post .desc p {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.post img {
  width: 50%;
  height: 100%;
  object-fit: cover;
}

.single {
  width: 100vw;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 30px 20px;
}
.single img {
  width: 100%;
}
.single button {
  background-color: transparent;
  padding: 10px;
  cursor: pointer;
}
